.svg_arrow_left {
	width: 8.81px;
	height: 7.65px;
}

.svg_arrow_thin {
	width: 9.438px;
	height: 7.875px;
}

.svg_close {
	width: 12.719px;
	height: 12.719px;
}

.svg_close_popup {
	width: 28.469px;
	height: 28.469px;
}

.svg_difference_down {
	width: 15.9px;
	height: 7.44px;
}

.svg_difference_up {
	width: 16px;
	height: 7px;
}

.svg_forum_category1 {
	width: 48px;
	height: 40px;
}

.svg_forum_category2 {
	width: 28px;
	height: 40px;
}

.svg_forum_category3 {
	width: 31.63px;
	height: 40.343px;
}

.svg_forum_category4 {
	width: 36px;
	height: 40px;
}

.svg_icon_attach {
	width: 18px;
	height: 15px;
}

.svg_icon_bell {
	width: 17px;
	height: 17px;
}

.svg_icon_comments {
	width: 14px;
	height: 13px;
}

.svg_icon_delete {
	width: 12px;
	height: 14px;
}

.svg_icon_edit {
	width: 13px;
	height: 13.03px;
}

.svg_icon_private {
	width: 17px;
	height: 16px;
}

.svg_icon_public {
	width: 17px;
	height: 11px;
}

.svg_icon_reply {
	width: 8.531px;
	height: 8px;
}

.svg_icon_search {
	width: 15.25px;
	height: 15px;
}

.svg_remove_photo {
	width: 7.6px;
	height: 7.657px;
}

.svg_slider_left {
	width: 14.969px;
	height: 29px;
}

.svg_slider_right {
	width: 14.938px;
	height: 29px;
}

