.svg_arrow_next {
	width: 7px;
	height: 8px;
}

.svg_arrow_prev {
	width: 7px;
	height: 8px;
}

.svg_arrow_select {
	width: 10px;
	height: 4px;
}

.svg_close {
	width: 18px;
	height: 18px;
}

.svg_close_white {
	width: 18px;
	height: 18px;
}

.svg_date_icon {
	width: 12px;
	height: 14px;
}

.svg_logo {
	width: 240px;
	height: 36px;
}

.svg_logo_footer {
	width: 72px;
	height: 72px;
}

.svg_logo_rotate {
	width: 162px;
	height: 180px;
}

.svg_marker {
	width: 72px;
	height: 95px;
}

.svg_plus {
	width: 12px;
	height: 12px;
}

